{% include "base/navbar.jinja" %}

<div>
    {{comment.text}}
</div>

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="reply" />
    </form>
</div>
