{% include "base/main.jinja" %}

{% block content %}

<div class="ui container">
    <div class="ui form">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input class="ui button" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
